body{
  background-color: #212121;
  color: #f8f8f8;
}

@media only screen and (max-width: 576px) {
  body{
    font-size: 12px;
  }

.volume {
  display: none;
}
.text-muted{
  display: none;
}

thead{
  display: none;
}

}
